.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #282c34;
}

.table {
  flex-grow: 1;
  color: white;
  overflow-y: auto;
  max-width: 95vw;
  max-height: 95vh;
  text-align: left;
}

.table code {
  font-size: 1.5em;
}
