.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #282c34;
  height: 100vh;
}

.main {
  flex-grow: 1;
  color: white;
  text-align: left;
  overflow: auto;
}

